
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<table id="Corona" class="display">
    <thead>
        <tr>
            @*<th>Country</th>
            <th>Cases</th>
            <th>Deaths</th>
            <th>Recovered</th>
            <th>Action</th>*@
            <th>id</th>
            <th>start_Date</th>
            <th>end_Date</th>
        </tr>
    </thead>
    <tbody class="coronabody"/>
</table>

@section Script{

    @*<script src="~/Scripts/CoronaJs.js"></script>*@
}
